### Numbers: Operations, Types, and Variables

In [2]:
5+2

7

In [3]:
5-2

3

In [4]:
5*2

10

In [5]:
5/2

2.5

In [6]:
5//2

2

In [7]:
5**2

25

In [8]:
5%2

1

### Exercise 1: Getting to Know the Order of Operations

In [9]:
(100 - 5**3)/5

-5.0

In [10]:
6 + 15%4

9

In [11]:
2**2 + 24 // 4

10

### Exercise 2: Integer and Float Types

In [12]:
type(6)

int

In [13]:
type(6.0)

float

In [14]:
5 + 3.14

8.14

In [15]:
int(7.99999999)

7

In [16]:
float(6)

6.0

### Complex Number Types

In [17]:
(2 + 3j) / (1 - 5j)

(-0.5+0.5j)

### Exercise 3: Assigning Variables

In [18]:
x = 2

In [19]:
x + 1

3

In [20]:
x = 3.0
x + 1

4.0

### Changing Types

In [21]:
y = 10

In [22]:
y = y - 10.0

In [23]:
type(y)

float

#### Reassigning Variables in Terms of Themselves

In [24]:
x += 1

In [25]:
x

4.0

### Activity 1: Assigning Values to Variables

In [26]:
x = 14

In [27]:
x += 1

In [28]:
(x / 5)**2

9.0

### Exercise 4: Variable Names

In [29]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [30]:
1st_number = 1

SyntaxError: invalid syntax (<ipython-input-30-05d80cc97354>, line 1)

In [31]:
first_number = 1

In [32]:
my_$ = 1000.00

SyntaxError: invalid syntax (<ipython-input-32-e3c03546ed83>, line 1)

In [33]:
my_money = 1000.00

### Exercise 5: Multiple Variables in Python

In [34]:
x = 5
y = 2

In [35]:
x + x - y**2

6

In [36]:
x, y = 8, 5

In [37]:
x // y

1

### Comments in Python

In [38]:
# This is a comment

In [39]:
# Set the variable pi to 3.14
pi = 3.14

In [40]:
pi = 3.14 # Set the variable pi to 3.14

### Docstrings

In [41]:
"""
This document will explore why comments are particularly useful when
writing and reading code.
"""

'\nThis document will explore why comments are particularly useful when\nwriting and reading code.\n'

### Activity 2: Find a Solution Using the Pythagorean Theorem in Python

In [43]:
"""
We're going to solve for the Pythagorean distance of 2, 3, and 4
"""
x = 2
y = 3
z = 4

In [44]:
distance = (x**2 + y**2 + z**2)**0.5

In [45]:
# The Pythagoream distance of 2, 3, and 4 is
print(distance)

5.385164807134504

### Exercise 7: String Error Syntax

In [46]:
bookstore = 'City Lights'

In [47]:
bookstore = 'City Lights''

SyntaxError: EOL while scanning string literal (<ipython-input-47-ba9990e299c8>, line 1)

In [48]:
bookstore = "Moe's"

In [49]:
bookstore = 'Moe's'

SyntaxError: invalid syntax (<ipython-input-49-0ef68cccb92b>, line 1)

### Escape Sequences with Quotes

In [50]:
bookstore = 'Moe\'s'

### Multiline Strings

In [51]:
vacation_note = """
During our vacation to San Francisco, we waited in a long line by 
Powell St. Station to take the cable car. Tap dancers performed on 
wooden boards. By the time our cable car arrived, we started looking 
online for a good place to eat. We're heading to North Beach.
"""

In [52]:
print(vacation_note)

During our vacation to San Francisco, we waited in a long line by
Powell St. Station to take the cable car. Tap dancers performed on
wooden boards. By the time our cable car arrived, we started looking
online for a good place to eat. We're heading to North Beach.

### Exercise 8: Displaying Strings

In [53]:
greeting = 'Hello'
print(greeting)

Hello

In [54]:
greeting

'Hello'

In [55]:
spanish_greeting = 'Hola.'
spanish_greeting
arabic_greeting = 'Ahlan wa sahlan.'

In [56]:
print(spanish_greeting)

Hola.

In [57]:
print(arabic_greeting)

Ahlan wa sahlan.

### Exercise 9: String Concatenation

In [58]:
spanish_greeting = 'Hola'
print(spanish_greeting + 'Senor.')

HolaSenor.

In [59]:
spanish_greeting = 'Hola '
print(spanish_greeting + 'Senor.')

Hola Senor.

In [60]:
greeting = 'Hello'
print(greeting * 5)

HelloHelloHelloHelloHello

### String Interpolation

In [61]:
italian_greeting = 'Ciao'
print('Should we greet people with', italian_greeting, 'in North Beach?')

Should we greet people with Ciao in North Beach?

In [62]:
owner = 'Lawrence Ferlinghetti'
age = 100
print('The founder of City Lights Bookstore, {}, is now {} years old.'.format(owner, age))

The founder of City Lights Bookstore, Lawrence Ferlinghetti, is now 100 years old.

### The `len()` Function

In [63]:
len(arabic_greeting)

16

### Exercise 10: String Methods

In [64]:
name = 'Corey'

In [65]:
name.lower()

'corey'

In [66]:
name.capitalize()

'Corey'

In [67]:
name.upper()

'COREY'

In [68]:
name.count('o')

1

### Exercise 11: Types and Casting

In [69]:
type('5')

str

In [70]:
'5' + '7'

'57'

In [71]:
int('5')

5

In [72]:
int('5') + int('7')

12

### Exercise 12: The `input()` Function

In [73]:
print('What is your name?')

What is your name?

In [74]:
name = input()

Cuthbert

In [75]:
print('Hello, ' + name + '.')

Hello, Cuthbert.

### Activity 3: Using the `input()` Function to Rate Your Day

In [76]:
day_rating = input('How is your day on a scale from 1 to 10?')

How is your day on a scale from 1 to 10?9

In [77]:
print('Hi! You rated your day {}. Have a nice day'.format(day_rating))

Hi! You rated your day 9. Have a nice day

### String Indexing and Slicing

In [78]:
destination = 'San Francisco'
destination[0]

'S'

In [79]:
destination[-1]

'o'

In [80]:
destination[4:11]

'Francis'

In [81]:
destination[:3]

'San'

In [82]:
destination[:8]

'San Fran'

In [83]:
destination[-3:]

'sco'

### Exercise 13: Boolean Variables

In [84]:
over_18 = True

In [85]:
type(over_18)

bool

In [86]:
over_21 = False
type(over_21)

bool

### Logical Operators and Comparison Operators

In [87]:
over_18, over_21 = True, False

In [88]:
over_18 and over_21

False

In [89]:
over_18 or over_21

True

In [90]:
not over_21 or (over_21 or over_18)

True

### Exercise 14: Comparison Operators

In [91]:
age = 20
age < 13

False

In [92]:
age >= 20 and age <= 21

True

In [93]:
age != 21

True

In [94]:
age == 19

False

In [95]:
6 == 6.0

True

In [96]:
6 == '6'

False

In [97]:
(age >= 20 and age < 30) or (age >= 30 and age < 40)

True

In [98]:
(20 <= age < 30) or (30 <= age < 40)

True

### Exercise 15: Comparing Strings

In [99]:
'a' < 'c'

True

In [100]:
'New York' > 'San Francisco'

False

### Conditionals

### Exercise 16: Using the `if` Syntax

In [101]:
age = 20
if 18 <= age < 21:
    print('At least you can vote.')
    print('Poker will have to wait.')

At least you can vote.
Poker will have to wait.

In [102]:
if age >= 18:
    print('You can vote.')
    if age > 21:
        print('You can play poker.')

You can vote.

### Exercise 17: The `if-else` Condition

In [103]:
age = 20
if age < 18:
    print('You aren\'t old enough to vote.')
else:
    print('Welcome to our voting program.')

Welcome to our voting program.

In [104]:
if age >= 18:
    print('Welcome to our voting program.')
else:
    print('You aren\'t old enough to vote.')

Welcome to our voting program.

### The `elif` Syntax

In [105]:
if age <= 10:
    print('Listen, learn, and have fun.')
elif age <= 19:
    print('Go fearlessly forward.')
elif age <= 29:
    print('Sieze the day.')
elif age <= 39:
    print('Go for what you want.')
elif age <= 59:
    print('Stay physically fit and healthy.')
else:
    print('Each day is magical.')

Sieze the day.

### Loops

#### The `while` loop

In [106]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [107]:
x = 5
while x <= 20:
    print(x)
    x += 5

5
10
15
20

In [108]:
x = 100
while x <= 1000:
    x += 1
    if x%17 == 0:
        print('', x, 'is the first number greater than 100 that is divisible by 17.')
        break

 102 is the first number greater than 100 that is divisible by 17.

In [109]:
x, y = 24, 36

In [112]:
z = 1
while True:
    z += 1
    if z % x == 0 and z % y == 0:
        print(z, 'is the least common multiple of', x, 'and', y)
        break

72 is the least common multiple of 24 and 36

### Exercise 18: Calculating Perfect Squares

In [114]:
number = input('Enter a number to see if it\'s a perfect square.')
number = abs(int(number))
i = -1
square = False
while i <= number**(0.5):
    i += 1
    if i*i == number:
        square = True
        break
        
if square:
    print('The square root of', number, 'is', i, '.')
else:
    print(number, 'is not a perfect square')

Enter a number to see if it's a perfect square.25
The square root of 25 is 5 .

### Exercise 19: Real Estate Offer

In [115]:
print('A one bedroom in the Bay Area is listed at $599,000.')
offer = abs(int(input('Enter your first offer on the house.')))
best = abs(int(input('Enter your best offer on the house.')))
increment = abs(int(input('How much more do you want to offer each time?')))
offer_accepted = False

while offer < best:
    if offer >= 650000:
        offer_accepted = True
        print('Your offer of', offer, 'has been accepted!')
        break
    else:
        print('We\'re sorry, you\'re offer of', offer, 'has not been accepted.' )
        offer += increment

A one bedroom in the Bay Area is listed at $599,000.
Enter your first offer on the house.500000
Enter your best offer on the house.690000
How much more do you want to offer each time?50000
We're sorry, you're offer of 500000 has not been accepted.
We're sorry, you're offer of 550000 has not been accepted.
We're sorry, you're offer of 600000 has not been accepted.
Your offer of 650000 has been accepted!

### Exercise 20: The `for` Loop

In [116]:
for i in 'Portland':
    print(i)

P
o
r
t
l
a
n
d

In [117]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [118]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [119]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [120]:
for i in range(3, 0, -1):
    print(i)

3
2
1

In [121]:
name = 'Corey'
for i in range(3):
    for i in name:
        print(i)

C
o
r
e
y
C
o
r
e
y
C
o
r
e
y

### The `continue` Keyword

In [122]:
for num in range(10, 100):
    if num % 2 == 0:
        continue
    if num % 3 == 0:
        continue
    if num % 5 == 0:
        continue
    if num % 7 == 0:
        continue
    print(num)

11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

### Activity 5: Building Conversational Bots Using Python

#### Bot 1

In [123]:
name = input('What is your name?')
print('Fascinating,', name, 'is my name too.')

What is your name?Corey
Fascinating, Corey is my name too.

In [124]:
yes_no = input('Have you though about black holes today?')
print('I am so glad you said', yes_no, '. I was thinking the same thing.')
print('We\'re kindred spirits,', name, '. Talk later.')

Have you though about black holes today?no
I am so glad you said no . I was thinking the same thing.
We're kindred spirits, Corey . Talk later.

#### Bot 2

In [125]:
intelligence = abs(int(input('How intelligent are you? 0 is very dumb. And 10 is a genius')))
if intelligence <= 3:
    print('I don\'t believe you.')
    day = int(input('How bad a day are you having? 0 is the worst, and 10 is the best'))
    if day <= 5:
        print('If I was a human, I\'d hug you.')
    else:
        print('Maybe I should try your approach.')
elif intelligence <= 6:
    print('I think you\'re actually smarter.')
    hours = int(input('How much time do you spend online? 0 is none and 10 is 24 hours a day.'))
    if hours <= 4:
        print('That\'s the problem.')
    else:
        print('And I thought it was only me.')
elif intelligence <= 8:
    print('Are you human by chance? Wait. Don\'t answer that.')
    human = int(input('How human are you? 0 is not at all and 10 is human all the way.'))
    if human <= 5:
        print('I knew it.')
    else:
        print('I think this courtship is over.')
else:
    os = int(input('I see... How many operating systems do you run?'))
    if os <= 2:
        print('Good thing you\'re taking this course.')
    else:
        print('What is this? A competition?')

How intelligent are you? 0 is very dumb. And 10 is a genius8
Are you human by chance? Wait. Don't answer that.
How human are you? 0 is not at all and 10 is human all the way.8
I think this courtship is over.

In [126]:
for i in range(0, 3):
    for j in range(0, 3):
        continue
    print(i+j)

2
3
4